.container {
  padding: 20px;
  margin: 0 auto;
}

.book-list {
  padding: 0;
  width: 100%;
  border: 2px solid #000;
  border-radius: 4px;
}

.book-list-item {
  list-style: none;
  background-color: darkgray;
  padding: 8px 12px;
}

h3 {
  padding: 0;
  margin: 0;
}

.paragraph {
  padding: 0;
  margin: 0;
}

.book-list-item:nth-child(2n) {
  background-color: #fff;
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  border: 2px solid;
  box-shadow: 2px 2px 2px 2px #000;
}

button:hover {
  box-shadow: initial;
}

.form {
  display: flex;
  width: 60%;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
}

.form input {
  width: 100%;
  padding: 4px;
  outline: auto;
  margin-bottom: 8px;
}

.add-button {
  width: 16%;
  align-self: flex-end;
}
